html,
body {
	overscroll-behavior: none;
}
.root {
	background-color: none;
}
.main {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-y: scroll;
}
.section {
	height: calc(100vh - 4rem);
	width: 100vw;
	scroll-snap-align: start;
}
#home {
	height: 100vh;
}
.navbar {
	background-color: rgba(0, 0, 0, 0.449);
}

.section-title-wrap {
	display: flex;
	height: 3rem;
	width: 100%;
	align-items: end;
}

.section-title {
	height: 2rem;
	background-color: white;
}
