html,
body {
	overscroll-behavior: none;
}
.root {
	background-color: none;
}
.main {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow-y: scroll;
}
.section {
	height: calc(100vh - 4rem);
	width: 100vw;
	scroll-snap-align: start;
}
#home {
	height: 100vh;
}

.drawing {
	height: 200px;
	width: 200px;
}
#linework {
	fill: none;
	stroke: black;
	stroke-width: 1;
	animation: line 1.2s linear forwards;
}
#outline {
	fill: none;
	stroke: black;
	stroke-width: 4;
	animation: line 2s linear forwards;
}
#border {
	fill: none;
	stroke: white;
	stroke-width: 4;
}
#body {
	fill: white;
}
#background {
	fill: white;
}
#linework,
#outline {
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
}

@keyframes line {
	from {
		stroke-dashoffset: 1;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/* #home {
	background-color: #3c1642;
}

#about {
	background-color: #004346;
}
#projects {
	background-color: #6d72c3;
}
#skills {
	background-color: #119da4;
}
#contact {
	background-color: #f06543;
} */
